@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #B45309;
  --color-primary-dull: #92400E;
  --color-secondary: #F59E0B;
}

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #787777 #1e1e1e;
}

body{
  color:white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}
